*,
*:before,
*:after {
  box-sizing: border-box;
}

:root {
  
    --white: #ffff;
    --whiteish: rgb(253, 246, 251);
    --dark-black: #161519;
  
    --dark-pink: #e7529c;
    --hotpink: #ff69b4;
    --mid-pink: #ff7dbf;
    --light-pink: #ff99cd;
    --darkest-blue: #003180;
    --mid-blue: #123f89;
    --light-blue: #2a60b6;
    --green: #aad900;
  
    --input-color: var(--mid-blue);
    --input-border: var(--dark-pink);
    --input-background: var(--white);
    --input-placeholder: var(--light-pink);
    --input-border-focus: var(--darkest-blue);
    --group-color: var(--white);
    --group-border: var(--hotpink);
    --group-background: var(--darkest-blue);
    --group-color-focus: var(--white);
    --group-border-focus: var(--input-border-focus);
    --group-background-focus: var(--dark-pink);
  
  
  }

/* results and change card styling
 */

 

main{
    max-width:1400px ;
    margin: 0 auto;
    
}


p,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Open Sans";
}

input,
button,
label,
select,
span {
  font-family: "Open Sans";
}
p {
  font-size: 16px, 1em;
  font-weight: 500;
}

h1 {
  font-size: 5.553rem;
  color: var(--mid-pink);
  font-weight: 700;
  font-family: "Big Shoulders Display", "Open Sans";
  text-transform: uppercase;
  text-shadow: 8px 1px 0px var(--darkest-blue);
  margin-bottom: 0;
}

h2 {
  font-size: 1.998rem;
  font-weight: 500;
}

h3 {
  font-size: 1.627rem;
  font-weight: 500;
}

h4 {
  font-size: 1.400rem;
  font-weight: 500;
}

h5 {
  font-size: 1.314rem;
  font-weight: 500;
}

h6 {
  font-size: 1.1rem;
  font-weight: 500;
}

.result_card{
    border: solid red 1px;
    border-radius: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(250px, 100%), 1fr));
    gap: 1rem;
    align-self: start;
    background-color: azure;
    transition: 1s;

    padding: 5px 12px;

}

.result_card:hover{
    box-shadow: 5px 6px  var(--darkest-blue);
    transition: 1s;
    transform: scale(1.01);

}

.the_end_card{
    color: var(--light-pink);
    border: solid var(--darkest-blue) 1px;
    border-radius: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(250px, 100%), 1fr));
    gap: 1rem;
    align-self: start;
    background-color: var(--mid-blue);
    transition: 1s;
}
.the_end_card:hover{
    box-shadow: 5px 6px  var(--hotpink);
    transition: 1s;
    transform: scale(1.01);
}

.result_graphics{
    margin: auto;
    gap: 4rem;
    display: grid;
    grid-template-columns: 2fr 1.5fr;
    max-width: 1000px;
}

.style{
    display: grid;
    grid-template-columns: 1em auto;
    gap: 0.5rem;
    
    padding: 0.5rem;
    border-radius: 20px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.325);
}

/* .style:hover{
    background-color: aquamarine;
} */
.form-group-radio{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    font-size: 1rem;
    line-height: 1.1;
}

input[type="radio"] {
    display: grid;
    place-content: center;
    cursor: pointer;
    /* Add if not using autoprefixer */
    -webkit-appearance: none;
    appearance: none;
    /* For iOS < 15 to remove gradient background */
    background-color: #fff;
    /* Not removed via appearance */
    margin: 0;

    color: pink;
    width: 1.2rem;
    height: 1.2rem;
    border: 0.15em solid black;
    border-radius: 50%;
    transition: 1s;


  }

  input[type="radio"]::before {
    content: "";
    width: 0.65rem;
    height: 0.65rem;
    border-radius: 50%;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 10px 10px aqua;
  }
  input[type="radio"]:checked::before {
    transform: scale(1);
  }



   .style:hover{
      background-color: aqua;
      transition: 1s;
  }




.hidden{
    display: none;
}

